*{
    box-sizing: border-box;
}
body{
    background-color: #f1f2f1;
    font-family: "Roboto", sans-serif;
    padding: 60px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.search{
    position: relative;
    height: 40px;
}
.search .input{
    background-color: #4834d4;
    border: 0;
    font-size: 16px;
    color: #fff;
    padding: 15px;
    height: 40px;
    width: 40px;
    transition: width 0.8s ease;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.search .input::placeholder{
    color: #fff;
}
.btn{
    background-color: #4834d4;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: 0.8s, ease;
    border-radius: 50%;
}
.ion-icon{
    color: #fff;
}
.btn:hover{
    background-color: #686de0;
}
.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width: 215px;
}
.search.active .btn{
    transform: translateX(175px);
}